* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

body {
  background-color: var(--body-bg-color);
}

main {
  height: 100vh;
  width: 100vw;
}

aside {
  position: relative;
  z-index: 4;
}

#content,
aside img {
  margin-top: 20px;
  margin-left: 20px;
}

#content {
  margin-top: 100px;
  font-family: 'League Spartan', sans-serif;
  position: relative;
  z-index: 3;
  width: 700px;
}

#content h2 {
  color: var(--title-color);
  margin-bottom: 10px;
  font-size: 25.2px;
}

#content p {
  color: white;
  margin-bottom: 8px;
}

#content .description {
  opacity: 0.6;
  -webkit-smoothing-font: smooth;
  font-weight: 100;
}

form {
  margin-top: 40px;
}

/*estilização da caixa que contém o input e button*/
form div {
  display: flex;
  margin-top: 20px;

  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

label {
  color: white;
  opacity: 0.8;
}

input {
  padding: 10px;
  width: 100%;
  height: 40px;

  outline: none;
  border: none;
  border-left: var(--title-color) 4px solid;
  background-color: white;
}

button {
  background-color: var(--bg-button-color);
  border: none;

  padding: 5px;
  width: 40px;
  height: 40.5px;

  display: flex;
  align-items: center;

  transition: filter 1s;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

button svg {
  stroke: white;
  width: 20px;
  margin-left: 4px;
}

.let-me-read {
  display: flex;
  align-items: center;

  color: var(--bg-button-color);

  margin-top: 50px;
  width: 200px;
}

.read {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}
